.env
.env.*
!.env.example

.venv/
__pycache__/
*.py[cod]
*.so

.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/

.DS_Store
.idea/
.vscode/

*.log
test.db
nl2sql.db
